<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head6') %> 

</head>
<body>
    <%- include('options') %> 
    <%- include('navbar2') %> 

    <!-- <%- include('video') %>  -->
    <%- include('footer2') %> 
    <dtyle>
    </dtyle>
</body>
</html>
