<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head5') %> 

</head>
<body>
    <%- include('options') %> 
    <%- include('navbar1') %> 

    <!-- <%- include('video') %>  -->
    <%- include('footer1') %> 
    <dtyle>
    </dtyle>
</body>
</html>
